services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio_web:latest
    expose:
      - "3000"
    environment:
      - PORT=3000
      - EMAIL_USER: ${EMAIL_USER}
      - EMAIL_PASS: ${EMAIL_PASS}
      - EMAIL_TO: ${EMAIL_TO}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web
    restart: unless-stopped

